doctype html
html(lang='en')
  head
    title app
  body
    h3 Hi world
    main#main

    script(src=paths.js + '/require.js')
    //- script(src=paths.js + '/jquery.min.js')
    //- script(src=paths.js + '/react.min.js')
    //- script(src=paths.js + '/JSXTransformer.js')
    script(src=paths.js + '/built.js')
